@page "/"
@using PrepodRate.Components.ProfessorDataComponents


<PageTitle>Home</PageTitle>

<h1>ПреподРейт</h1>

<AuthorizeView>
	@if (context.User.IsInRole("Oleg")) {
		<h1>HELLO, OLEG!!!</h1>
	}
	<AddProfessor/>

</AuthorizeView>

